.workbench {
  display: grid;
  grid-template-rows: 37px 1fr;
  height: 100%;
  background: #1e1e1e;
}

.workbench__tabs {
  border-bottom: 1px solid #1e1e1e;
}

.workbench__editor {
  overflow: hidden;
  position: relative;
}

.workbench__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #585858;
  font-size: 13px;
}