.shell {
  display: grid;
  grid-template-columns: 220px 1fr;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.shell__sidebar {
  overflow: hidden;
}

.shell__content {
  overflow: hidden;
  background: #181818;
}